@tailwind base;
@tailwind components;
@tailwind utilities;

.Main {
    height: 100%;
    width: 100%;
}

@layer base {
  @font-face {
    font-family: 'figaRo';
    src: url('/src/assets/fonts/FiraGO.otf') format('trueType');
  }
}